@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: "zuumerough-bold";
  src: url("./assets/font/zuume-rough/Fontspring-DEMO-zuumerough-bold.otf");
}

@font-face {
  font-family: "zuumerough-bolditalic";
  src: url("./assets/font/zuume-rough/Fontspring-DEMO-zuumerough-bolditalic.otf");
}

* {
  font-family: "Inter", sans-serif;
  outline: none;
  @apply text-[#fff];
}

.sidebar {
  @apply w-[280px];
}

.sidebar-content {
  @apply px-6;
}

.sidebar-item {
  @apply flex py-3 pl-11 hover:bg-primary/10 cursor-pointer transition-all duration-150;
}

h1 {
  @apply text-[70px] leading-[72px];
}

h2 {
  @apply text-[60px] leading-[65px];
}

h3 {
  @apply font-zuumeroughbold text-[36px] leading-[40px] md:text-[46px] md:leading-[50px];
}

h4{
  @apply font-bold text-2xl text-[#fff];
}

.schedule-container {
  background-color: #008a81;
  opacity: 0.8;
  border-radius: 40px;
}

.schedule-container img {
  mix-blend-mode: soft-light;
  border-radius: 40px;
}

.transform-logo {
  transform: matrix(1, -0.09, 0.09, 1, 0, 0);
}

.container-main {
  @apply px-4 md:px-[30px];
}

.sub-new {
  @apply border-[1px] border-[#fff] hover:bg-secondary hover:border-secondary transition-all duration-150;
}

